

#canv {
    background-color: lightblue;
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-width: 10px;
}

.black {
    background-color: black;
}

.drawbox {
    background-color: white;
    flex: 1 1 auto;
    /*width:30px;
    height:30px;*/
}
